{% extends "base.html" %}
{% load static %}

{% block content %}

    <section>
      <div class="container">
        <article class="lead" align="justify">
          TODO
          <p>
            <b>Links Importantes: <b>
              <a href="#" target="_blank">Regulamento</a> e
          </p>
        </article>
      </div>
    </section>
    <section class="background-gray-lightest">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="h2" align="center">
              Participe da Mostra de Trabalhos
            </div>
		<p align="center">Realize sua inscrição nos minicursos</p>
          </div>
	  {% comment %}
          <div class="col-md-2 col-md-offset-2">
            <div class="post" align="center">
                <a href="{% url 'event-create' %}" class="btn btn-ghost">Minicurso</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="post" align="center">
              <a href="{% url 'presentation' %}" class="btn btn-ghost">Apresentaçõe Oral ou Poster</a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="post" align="center">
              <a href="{% url 'experiment-create' %}" class="btn btn-ghost">Trabalho</a>
            </div>
          </div>
	{% endcomment %}
        </div>
      </div>
    </section>



{% endblock content %}
