section{
    font-size: 12pt;
    padding-top: 35px;;
    padding-bottom: 20px;;
}

.footer__block{
    padding-top: 35px;;
    padding-bottom: 0px;;
}


.footer__block .row{
    margin-bottom: 20px;;
}

.footer__block p{
    color: #555;
}

.navbar-btn{
    margin: 10px !important;
}
